@import "bootstrap";
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.alert {
  color: #f00;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
.red {
  color: #B22222;
}
.orange{
  color: #FFA500;
}
.blue{
  color: #0000FF;
}
.green {
  color: #00FF00
}

.yellow {
  color: red
}
