<% @telefons.each do|telefon|%>
<div class="container">
  <div class="col-md-2"><h4><%= telefon.n_tel%></h4></div>
  <% if user_adm? %>
    <div class="col-md-2"><a href="/telefons/delete/<%=telefon.id.to_s%>" class="btn btn-large btn-danger">Видалити</a></div>
  <%end%>
</div>
<%end%>